<a href="https://colab.research.google.com/github/JerichoAnch/BTE-320/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Shape area calculator

In [ ]:
r=3
pi=3.14
h=5
SurfaceArea= 2*pi*r**2+2*pi*r*h
print(SurfaceArea)

150.72

Rock Paper Scissors

In [ ]:
Player_1 = input('Player 1 sign throw (rock/paper/scissors):')
Player_2 = input('Player 2 sign throw (rock/paper/scissors):')

if Player_1 == Player_2:
  print('Draw')
elif (Player_1 == 'rock' and Player_2 == 'scissors') or (Player_1 == 'scissors' and Player_2 == 'paper') or (Player_1 == 'paper' and Player_2 == 'rock'):
  print('Player 1 wins')
else:
    print('Player 2 wins')

Player 1 sign throw (rock/paper/scissors):rock
Player 2 sign throw (rock/paper/scissors):paper
Player 2 wins

Numerical Calculator

In [ ]:
N1 = float(input('First Number ='))
S = input('Operation(+,-,*,/,**)')
N2 = float(input('Second Number ='))
if S == '+':
  print(f'{N1} + {N2} = {N1+N2}')
elif S == '-':
  print(f'{N1} - {N2} = {N1-N2}')
elif S == '*':
  print(f'{N1} * {N2} = {N1*N2}')
elif S == '/':
  print(f'{N1} / {N2} = {N1/N2}')
elif S == '**':
  print(f'{N1} ** {N2} = {N1**N2}')

First Number =20
Operation(+,-,*,/,**)/
Second Number =5
20.0 / 5.0 = 4.0

Rock Paper Scissors (Loop)

In [ ]:
import random

c=input('Would you like to play a game?')
p1= input ("choose rock, paper, scissors:")
p2= random.choice ("choose rock, paper, scissors:")

print(f'computer choose {p2}.')

if p1 == p2:
  print('Draw')
elif((p1=='rock') and (p2=='scissors')) or ((p1=='scissors') and (p2=='paper')) or ((p1=='paper') and (p2=='rock')):
  print('You win')
else:
  print('Computer wins')
c=input('Would you like to play another a game?')

Would you like to play a game?yes
choose rock, paper, scissors:rock
computer choose s.
Computer wins
Would you like to play another a game?no

Parking Garage

In [ ]:
for t in range(1, 9, 1):
  charge= 5 + 2.5 *t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

Movie Theater Problem

In [ ]:
print(f'Ad$ Profit')

init_attendees = 20
fixed_cost = 200

for advertising in range (0,201,25):
  ad = float(advertising)
  attendees = float(2*round(advertising**0.5) + init_attendees)
  profit=float((attendees * 10)- advertising - fixed_cost)
  print(f'{ad} ${profit}')

Ad$ Profit
0.0 $0.0
25.0 $75.0
50.0 $90.0
75.0 $105.0
100.0 $100.0
125.0 $95.0
150.0 $90.0
175.0 $85.0
200.0 $80.0

Months- Names & Numbers

In [ ]:
months= {}
names = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
for i in range(len(numbers)):
  months[numbers[i]] = names[i]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

House Hunting

In [ ]:
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))

portion_down_payment = 0.25
r = 0.04

down_payment = portion_down_payment * total_cost
current_savings = 0.0
monthly_salary = annual_salary / 12
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + portion_saved * monthly_salary
    months += 1

print("Number of months:", months)

Enter your annual salary: 100000
Enter the percent of your salary to save, as a decimal: .2
Enter the cost of your dream home: 30000
Number of months: 5

Saving with raise

In [ ]:
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

portion_down_payment = 0.25
r = 0.04

down_payment = portion_down_payment * total_cost
current_savings = 0.0
monthly_salary = annual_salary / 12
months = 0

while current_savings < down_payment:
    current_savings += current_savings * (r / 12) + portion_saved * monthly_salary
    months += 1

    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise
        monthly_salary = annual_salary / 12

print("Number of months:", months)

Enter your annual salary: 200000
Enter the percent of your salary to save, as a decimal: .5
Enter the cost of your dream home: 30000
Enter the semi-annual raise, as a decimal: .4
Number of months: 1

Check if a number is within a range

In [ ]:
def range_check(number, low, high):
    if low <= number <= high:
        print(f"{number} is in the range between {low} and {high}.")
    else:
        print(f"{number} is not in the range between {low} and {high}.")

range_check(5, 1, 10)

5 is in the range between 1 and 10.

Fee Calculation and Display Functions

In [ ]:
def displayFee(fee):
  print(fee)
def calcFee(hours, decimals=2):
  fee=5 + hours*2.5
  fee=round(fee, decimals)
  return fee

if __name__== "__main__":
  h = int(input('Enter number of hours: '))
  displayFee(calcFee(h))

Enter number of hours: 2
10.0

Recursion

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return s[-1] + reverse(s[1:-1]) + s[0]
    return reverse(s[1:]) + s[0]
    return s[-1] + reverse(s[:-1])

reverse('Hello')

'olleH'

Student Class

In [12]:
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number
    self.__courses = []

  def enroll(self, newCourse):
    if newCourse not in self.__courses:
      self.__courses.append(newCourse)
    else:
      print(f'You have already enrolled in {newCourse}')

  def get_courses(self):
    return self.__courses

  student = Student("John", 123)
  student.enroll("Math")
  student.enroll("Science")
  student.enroll("Math")
  print(student.get_courses())

You have already enrolled in Math
['Math', 'Science']